---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="The Unknowns of Software Engineering.">
	<main>
    <h1>The Unknowns of Software Engineering</h1>
    <p>
        Let's delve into the great <span class="italic">unknowns</span> of software engineering - the dark matter of our universe, if you will. These are the parts they don't teach you in school, probably because they're too scared to face them.
    </p>
    <p>
        First, the ever-mysterious <span class="bold">client requirements</span>. You think you've figured them out? Think again! They change faster than a chameleon on a disco dance floor. Just when you think you've nailed it, bam! They hit you with a "just one small change" that's about as small as a black hole.
    </p>
    <p>
        Then, there's the <span class="underline">legacy code</span>. Oh, the horror! It's like an archaeological dig, but instead of finding dinosaur bones, you find code from the dark ages of programming. And guess what? You have to make it work with the latest and greatest technologies. Good luck with that!
    </p>
    <p>
        And let's not forget about the <span class="bold">documentation</span>, or should I say, the mythical creature that everyone talks about but no one has ever seen? It's supposed to guide you, but it's more like a treasure map without the 'X' marked. You're better off trying to read hieroglyphs without a Rosetta Stone.
    </p>
    <p>
        Bugs - the gremlins of software engineering. They appear out of nowhere, usually right after you've told everyone how smooth the project is going. They're sneaky, they're tricky, and they laugh in the face of your "foolproof" code.
    </p>
    <p>
        In conclusion, the unknowns of software engineering are like the wild west - lawless, unpredictable, and a little bit scary. But hey, that's what makes it exciting, right? It's not just a job, it's an adventure - a rollercoaster ride through a digital jungle. So buckle up, my friends, it's going to be a bumpy ride!
    </p>

  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
  .bold { font-weight: bold; color: red; }
  .italic { font-style: italic; color: yellow; }
  .underline { text-decoration: underline; }
</style>
